<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- no noeed to mention the relative or actual path as we mentioned in javascript file its folder -->
    <link rel="stylesheet" href="/styles.css">
    <title>Blogs Ease | <%= title %>
    </title>
</head>