<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>


    <body>
        <%- include('./partials/nav.ejs') %>
            <div class="about content">
                <h1>About US</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus deleniti facere fugiat illum non
                    illo
                    nihil
                    accusantium vero similique aspernatur.
                </p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus deleniti facere fugiat illum non
                    illo
                    nihil
                    accusantium vero similique aspernatur.
                </p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus deleniti facere fugiat illum non
                    illo
                    nihil
                    accusantium vero similique aspernatur.
                </p>
            </div>
            <%- include('./partials/footer.ejs') %>

    </body>

</html>